* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

html{
    overflow: hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.drawAreaEarthContainer{
     flex: 1 0 auto;
}

.drawAreaEarthContainer{
    flex: 0 0 auto;
    height: 20%;
}

.wrapperStart{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(../img/startLogo.jpg);
    background-size: cover;
    position: fixed;
}

.startButton{
    width: 10%;
    height: 10%;
    background-image: url(../img/startButton.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top:90%;
    right: 45%;
}
.startButton:hover{
    background-image: url(../img/startButtonOn.png);
    background-repeat: no-repeat;
}
